html, body {
    height: 100%;
    overflow: hidden;
}
.v-toolbar__content {
    flex: none;
  }
// .theme--light {
    // color: var(--v-onPrimary-base) !important
// }
// body .v-application .primary--text {
//     color: var(--v-onPrimary-base) !important;
//     caret-color: var(--v-onPrimary-base) !important;
// }